h3 {
    text-align: center;
}

.steps-wrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.steps-wrapper img{
    width:30%;
    border: 2px solid var(--main-purple);
}

.steps-wrapper p{
    width:30%;
}