
.email-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
    height: 35%;
    width: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.email-top {
    padding: 40px 40px 40px 20px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.email-top::before {
    content: "";
    position: absolute;
    height: 50px;
    bottom: -20px;
    left: 0;
    right: 0;
    transform: skewy(-3deg);
    background-color:  #BE22DB;
}

h2 {
    font-weight: 6000;
    text-align: center;
    margin-bottom: 32px;
    color: #BE22DB;
}

h6 {
    font-size: 13px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input {
    font-size: 14px;
    font-weight: 500;
    padding: 4px 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid #c8d3d068;
    transition: 500ms ease all;
} 

#input-button {
    cursor: pointer;
    padding: 15px 60px;
    border-radius: 30px;
    font-weight: 600;
    border: none;
    color: #ffff;
    background-color: #BE22DB;
    margin-right: 16px;
    transition: 500ms ease all;
}

input:focus {
    outline: none;
    box-shadow: 0 1px 0 0 purple;
    border-color: purple;
}


button:hover {
    background-color: black;
    transform: scale(0.98);
}

.email-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: #BE22DB;
    padding: 60px 40px 40px;
    color: #ffff;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
}

.-bottom, h3 {
    color: #ffff;
    font-size: 14px;
}

ul {
    display: flex;
    margin-top: 16px;
    list-style: none;
}

li {
    margin-right: 40px;
    font-size: 24px;
    cursor: pointer;
}

i {
    transition: 500ms ease all;
}

i:hover {
    color: black;
}


