.navbar {
    background: var(--main-purple);
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 20px;
    align-items: center;
    height: 20px;
   
}
.nav-links {
    list-style: none;
    display: flex;
    float: left;
    justify-content: flex-end;
    width: 100%;
}
.nav-link-item {
    margin-right: 20px;
    cursor: pointer;
    display: inline;
}
.nav-link-item:hover {
    color: #ccc;
}
